<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1">
      <h2>Submit a Paper</h2>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-md-offset-1">
      <%= form_for @paper, url: my_papers_path do |f| %>

        <div class="form-group">
          <div class="row">
            <% Paper.speaker_slots.keys.each do |slot| %>
              <div class="col-xs-12 col-sm-6">
                <%= f.radio_button :speaker_slot, slot %>
                <%= f.label "speaker_slot_#{slot}", t("speaker_slot.#{slot}") %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :abstract %>
          <%= f.text_area :abstract, class: "form-control" %>
        </div>

        <div class="form-controls text-right">
          <%= f.submit "Save as draft", name: "draft", class: "btn btn-default" %>
          <%= f.submit "Submit for review", name: "submit", class: "btn btn-primary" %>
        </div>

      <% end %>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">Requirements</div>
          <div class="panel-body">
            <p>Submissions that fail any of the below criteria will be rejected without review.</p>

            <p>
              <ul>
                <li>Paper and actual talk must be in English.</li>
                <li>Paper must have a title and an abstract of around 100 words.</li>
                <li>Paper must be submitted before 2017-02-28 23:59:59 UTC.</li>
              </ul>
            </p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Submission Policies</div>
          <div class="panel-body">
            <p>
              <ul>
                <li>You can submit any number of papers.</li>
                <li>We accept talks that have been given before at other conferences.</li>
                <li>You will retain copyright to your talk and any supporting materials.</li>
              </ul>
            </p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Review Process</div>
          <div class="panel-body">
            <p>
              <ul>
                <li>First round of reviews is double blind. We take into account novelty, depth, practical impact, and presentation.</li>
                <li>Final selection is done by the organizing committee. We will select the combination of talks that we think will make the best overall conference experience.</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
