<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "RDRC'17 CFP", my_papers_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li>
            <div class="navbar-form">
              <div class="form-group">
                <%= link_to "New paper", new_my_paper_path, class: "btn btn-success" %>
              </div>
            </div>
          </li>
          <li><%= link_to "My papers", my_papers_path %></li>
          <li><%= link_to "My profile", my_profile_path %></li>
          <li><%= link_to "Sign out", sign_out_github_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign in", sign_in_github_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
