<!DOCTYPE html>
<html>
  <head>
    <title>RDRC'17 - Call For Papers</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", "data-turbolinks-track": "reload", media: "all" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <% if current_user.cleaner? %>
      <%= render "layouts/cleaner_header" %>
    <% else %>
      <%= render "layouts/speaker_header" %>
    <% end %>
    <%= flash_messages %>

    <%= yield %>
  </body>
</html>
